/* online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* Add a black background color to the top navigation bar */
.h1 {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #35608A;
  width:100%;
  height:30%;
}
.topnav {
    position: absolute;
    width: 80%;
    height: 40%;
    right: 0px;
    top: 71px;
    background: #4497F2;
    border-radius: 35px 0px 0px 0px;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    font-weight: bold;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {

    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 20px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
div.section1{
position: absolute;
width: 100%;
height: 50rem;
left: 0px;
top: 153px;
background: url('E:/studies/WPP/YuckyJoki/photos/oulu-100627.jpg');
background-size: cover;
background-position-x: 0;
background-position-y:0;
}

div.container{
font-family: 'Raleway', sans-serif;
position: absolute;
width: 40%;
height: 200px;
right: 0px;
top: 30%;
background: #FFFFFF;
border-radius: 35px 0px 0px 35px;
}
div.main{
position: static;
width: fit-content;
display: inline-block;
padding: 10px 50px 25px;
margin-top:30px;
}
input[type=text],input[type=password]{
width: 30%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}

.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}
input[type=button]{
font-size: 16px;
background: black;
border: 1px solid black;
color: white;
font-weight: bold;
cursor: pointer;
position: static;
width: 104px;
height: 48px;
left: 0px;
top: 0px;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(gray 5%, black 100%);
}
div.p1{
  position: absolute;
  width: 696px;
  height: 418px;
  left: 205px;
  top: 350px;
  background: #C4C4C4;
  mix-blend-mode: multiply; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 188%;
  text-align: center;
  color: #FFFFFF;
}
div.title{
position: absolute;
width: 889px;
height: 60px;
left: 74px;
top: 273px;
/* display-4/font-extrabold */
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 60px;
/* identical to box height, or 100% */
text-align: center;
color: #FFFFFF;

}
