/* online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* Add a black background color to the top navigation bar */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
.h1 {
    display: block;
    background-color: #35608A;
    width:100%;
    height:24%;
}
.topnav {
    position: absolute;
    width: 1265px;
    height: 82px;
    left: 262px;
    top: 71px;
    background: #4497F2;
    border-radius: 35px 0px 0px 0px;
    position: absolute;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    font-weight: bold;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {

    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 20px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


div.container{
width: 600px;
height: 200px;
position: absolute;
right: 0%;
top: 200px;
display: inline-block;
font-family: 'Raleway', sans-serif;
}
div.main{
position: static;
width: fit-content;
display: inline-block;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 35px 0px 0px 35px;
font-family: raleway;
margin-top:30px;
}
input[type=text],input[type=password]{
width: 30%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}

.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}
input[type=button]{
font-size: 16px;
background: black;
border: 1px solid black;
color: white;
font-weight: bold;
cursor: pointer;
position: static;
width: 104px;
height: 48px;
left: 0px;
top: 0px;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(gray 5%, black 100%);
}