<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book and Offer</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link href="styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  <script src="app.js"></script>
  <script src="https://kit.fontawesome.com/eab5bdec33.js" crossorigin="anonymous"></script>
  <script src="/path/to/angular.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/js/app.js"></script>
  
</head>

<body>
  <div class="container">
    <div class="h1"><img src="\img\logo.png" alt="YackyJoki logo" style="float:top-right; width:150px; margin-left:5%;margin-top:1%;">
      <div class="topnav">
        <a href="../../home.html">Home</a>
        <a class="active" href="#index">Book and Offer</a>
        <a href="../../about.html">About</a>
        <a href="../../account.html">Account</a>
        <a href="../../contact.html">Contact</a>
              <input type="text" placeholder="Search..">
      </div>
    </div>
    <div id="content-wrap">
      <div class="rectangle14">
        <div id="box"><p id="loc">Select you destination from the stops on the map</p></div>
        <div id="tab"></div>
        <div id="buttons">
          <button id="add" type="button">Add to route</button>
          <button id="book" type="button">Book a ride</button>
          <button id="offer" type="button">Offer a ride</button>
        </div>
        <div id="hidden">
          <button id="clear">x</button>
          <p id="p1">To confirm your trip please check the info below</p>
          <div id="captains">
               <label for="bname">what is your boat type</label>
               <input type="text" id="bname" name="bname" placeholder="Fishing, binghy, bowrider..">
               <label for="seatsC">how many seats remaining?</label>
               <input type="number" id="seatsC" name="seatsC" min="1" max="99">
               <label for="currency-field">Enter price per seat</label>
               <input type="text" name="currency-field" id="currencyField"  value="" data-type="currency" placeholder="€9.00">
               <button id="addTripC">Confirm trip</button>
          </div>
          <div id="passengers">
            <label for="seats">how many passenger?</label>
            <input type="number" id="seatsP" name="seatsP"
              min="1" max="99">
            <button id="addTripP">Confirm trip</button>
          </div>
        </div>
      </div>
      <div id="map"></div>
      <div id="rectangle15">
        <p id="t1">Available captains</p>
        <div id="captainsTab"></div>
      </div>
      <div id="rectangle16">
        <p id="t1">Passengers waiting</p>
        <div id="passengersTab"></div>
      </div>
      <div id="msg" ng-controller="mainController">
          <ul id="mesg"></ul>
            <input id="m" ng-model="message" autocomplete="off" />
            <button id="s" ng-click="send()">Send</button>
      </div>
      
  <footer class="footer">
    <div class="socialIcons">
        <i class="fa-brands fa-facebook"   style="font-size:30px;text-shadow:1px 1px 2px #000000;"></i>
        <i class="fa-brands fa-google-pay" style="font-size:30px;text-shadow:1px 1px 2px #000000;"></i>
        <i class="fa-brands fa-github"     style="font-size:30px;text-shadow:1px 1px 2px #000000;"></i>
        <i class="fa-brands fa-twitter"    style="font-size:30px;text-shadow:1px 1px 2px #000000;"></i>
    </div>
    <table id="makers_tab">
        <tr>
          <td id="name">Anniina</td>
          <td id="name">Maarit</td>
          <td id="name">Moeez</td>
          <td id="name">Mufida</td>
          <td id="name">Yinan</td>
        </tr>
        <tr>
          <td id="title">Server managment</td>
          <td id="title">User interface</td>
          <td id="title">User interface</td>
          <td id="title">User interface</td>
          <td id="title">Server managment</td>
        </tr>
    </table>
    <p id="p">© 2022 YuckyJoki, Inc. All rights reserved.</p>
  </footer>
</div>
</body>
</html>