/* online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* Add a black background color to the top navigation bar */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body{
    
    box-sizing: border-box;
    width: 100vw;
    margin: 0 auto;
     overflow-x: hidden; 
    display: grid;
    grid-template-rows: 110px 1fr 300px;
  }

  /* beginnnig of header */
  nav, footer{ 
      background-color: #35608A;
  }

  nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .topnav a{
      text-decoration: none ;
      color: black;

  }

  .topnav{
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color:     #95918E;
      
      height:60px;
      align-items: center;
      padding: 0 2rem;
      border-top-left-radius: 1rem  ;
      align-self: flex-end;

  }

/* end of header */
.about {
    display: block;
    width: 100%;
    height: 5%;
    font-size: 40px;
    color: #35608A;
    align-self: center;
    padding-left: 700px;
}

.imgs img{
  max-width: 100%;
  padding-left: 30px;
}

.h3 {
  display: block;
  width: 100%;
  height:20%;
  font-size: 25px;
  color: #35608A;
  padding-left: 100px;
  padding-top: 10px;
 
}

.links {
  display: block;
  width: 100%;
  height:5%;
  font-size: 15px;
  color: #35608A;
  padding-left: 100px;
 
}
/* footer*/
footer{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  top: 1950px;
  width: 100%;
  height: 200px;
  background: #35608A;
  }
  .socialIcons {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
    justify-content: space-around;
    width: 10%;

  }

  table{
    position: absolute;
    width: 70%;
    top: 70px;
  }
  
  table th{
  /* lead/font-normal */
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #FFFFFF;
  text-align: center;

  }
  table td{
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #111827;
  text-align: center;
  }
#p{
position: absolute;
bottom: 0;
width: 40%;
font-family: 'Play', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
text-align: center;
}